._.Rbuildignore
.Rproj.user
.Rhistory
._.Rhistory
._README.md
R/._estimateProportion.R
R/._helperFunctions.R
R/._runBackgating.R
R/._runPreprocessing.R
R/._runFlowTOTAL.R
R/._test.R
R/._runEstimateProportion.R
._.Rproj.user
._DESCRIPTION
._LICENSE
._LICENSE.md
._NAMESPACE
._flowTOTAL.Rproj
R/._runDA.R
R/._runSEDA.R
R/._seacellsR.R
R/test.R
man/._apply_gate.Rd
man/._check_FCS.Rd
man/._cytokine_cutpoint.Rd
man/._deriv_density.Rd
man/._doDA.Rd
man/._doDensityBackgating.Rd
man/._doEstimateProportion.Rd
man/._doPreprocessing.Rd
man/._doSEDA.Rd
man/._do_ggcyto.Rd
man/._downsampling_with_outliers.Rd
man/._filterSinglets.Rd
man/._flow_auto_qc_custom.Rd
man/._gate_tail_custom.Rd
man/._get_contour.Rd
man/._min_max_sampling.Rd
man/._runDA.Rd
man/._runDensityBackgating.Rd
man/._runEstimateProportion.Rd
man/._runFlowTOTAL.Rd
man/._runPreprocessing.Rd
man/._runSEDA.Rd
man/._run_min_max_sampling.Rd
man/._simplify_flowCore.Rd
man/figures/._flowCore_object-panel.png
